[2021-08-21 07:39] bacloud14 opened #1 "Improve map quality on phone devices"
Leaflet maps as configured currently and with `openstreetmap` provider seem to be of low quality on phone devices.

### How
Make a generic solution for all devices (all screen size) or just detect phone devices and configure accordingly.

### Possible solutions

https://github.com/Leaflet/Leaflet/issues/6068
[Vector Basemaps](https://esri.github.io/esri-leaflet/examples/vector-basemap.html) (a pro

[2021-08-21 07:41] bacloud14 opened #2 "Leaflet circle (same as markers) is not draggable on phone screens"
On desktop screens, I can drag and move a marker around.
On phone (chrome) it doesn't seem to work.
The marker that is meant to be moveable is in [geo-search-map]

https://github.com/bacloud14/Classified-ads-48/blob/bf97c128b873b3170beffe655d1ba7704d421c26/client/src/shared/maps/create-maps/create-geo-search-map.js#L21

### How

### Possible solutions

[2021-08-21 16:22] bacloud14 opened #3 "Help make every aspect generic"
I started this web-app with the idea to deploy it in **Algeria**. Then thought, why not make it generic so that everyone can enjoy using it and also can contribute to.

Although this repository will be the back-end of the website that I am willing to deploy (Algeria geo-location), I want to make it generic. This is what this issue is about.

I surely left references to **Algeria** in code/data/fil

[2021-08-21 16:27] bacloud14 opened #4 "Code review"
"Naming conventions, clean and minimal code" all result in a "more robust to scale" web-app.

[2021-08-23 07:12] bacloud14 opened #5 "Make a webpack script to download data files"
Code currently assumes presence of data files in:

[client data](https://github.com/bacloud14/Classified-ads-48/tree/main/client/src/data)

and

[server data](https://github.com/bacloud14/Classified-ads-48/tree/main/data/geo)

which are JavaScript files with constants.

## How

1. ~~Decouple the JavaScript files into JSON files~~,
2. Add a script to download JSON files from [data repo](https://git

[2021-08-23 07:22] bacloud14 commented on #5
files in [data repo](https://github.com/bacloud14/listings-data/tree/main/data/geo/)

[2021-08-23 07:34] bacloud14 opened #6 "Correct and beautify layouts and forms (Responsive Bootstrap)"
I switched from `Chota.css` to `Bootstrap 5`.
I don't know much about Bootstrap, I hope every page would fit all screen sizes beautifully.
Also, forms are not well aligned.

**How**
At least, [Bootstrap 5 Form Builder](https://startbootstrap.com/sb-form-builder) would ease the process for input forms.

[2021-08-23 10:56] bacloud14 commented on #3
check TODOs with this handy [extention](https://marketplace.visualstudio.com/items?itemName=wayou.vscode-todo-highlight).
All TODOs refer to contextual code that should be generic.

[2021-08-25 09:01] #5 closed

[2021-08-26 16:51] bacloud14 opened #7 "Ensure CSP is effective against XSS attacks"
Turn
https://github.com/bacloud14/Classified-ads-48/blob/bf97c128b873b3170beffe655d1ba7704d421c26/app.js#L114

Into:
`app.use(helmet({}));`

### How
[ensure each XSS is targeted in front end ](https://web.dev/csp-xss/)

[2021-09-06 19:54] bacloud14 commented on #6
**How**
At least, [Bootstrap 5 Form Builder](https://startbootstrap.com/sb-form-builder) would ease the process.

[2021-09-09 19:24] bacloud14 opened #9 "Propose better set of colors"
Colors are important for accessibility and for a better user experience. This issue is about proposing a set of colors or going through the CSS part of it. Both regular and dark mode should be considered.

[2021-09-09 19:25] bacloud14 commented on #9
Also making a new set of colors acting on Bootstrap (if possible) would give a unique taste.

[2021-09-12 08:59] bacloud14 opened #10 "Fix webpack configuration"
- Decouple these two http.get calls or use Promises (with request instead of http.get)
https://github.com/bacloud14/Classified-ads-48/blob/a529ff8889489eeaabfb30f6650e02617f377553/client/webpack.config.js#L78
- For some reason, there is an error stating there is a mismatch of process.env.NODE_ENV ("local"!=="development") when setting client env to "local".
- For some reason source map is not gene

[2021-09-13 08:22] bacloud14 opened #11 "Better map of EJS variables to JavaScript variables"
https://github.com/bacloud14/Classified-ads-48/blob/main/views/partials/prepare_js_variables.ejs

[2021-09-14 16:44] bacloud14 commented on #10
First resolved in https://github.com/bacloud14/Classified-ads-48/commit/bf97c128b873b3170beffe655d1ba7704d421c26

[2021-09-15 02:22] Rimpi246 opened #12 "Doubt regarding hacktoberfest acceptance"
Is this accepted in hacktoberfest 2021?

[2021-09-15 07:36] bacloud14 commented on #12
Why not ? @Rimpi246

[2021-09-15 07:45] Rimpi246 commented on #12
I was just confirming. You can close the issue now. Thanks

[2021-09-15 07:45] #12 closed

[2021-09-15 20:06] bacloud14 opened #13 "Add a credit page and include licenses for used datasets"
Some datasets were used for different sections. Particularly for **tags**.
Two datasets were used already and we can add more, so it is an obligation to give credits to sources.
Data-sets used are:

- [Google merchants taxonomy](https://support.google.com/merchants/answer/6324436?hl=en):
Note that it seems not licensed, some other websites are using it, and in lack of a clear license I guess I can

[2021-09-18 07:37] bacloud14 opened #14 "[SEO] Remove leaflet tiles from google search O_o"
What's up with leaflet tiles figuring on Google image search ?! Leaflet tiles are loaded from an external server. So I believe Google crawler not only visits a link, but tries to render its content 🦀 😮

These would pollute relevant data from figuring on the search engine.

Check the [image](https://ibb.co/QPSsSsV)

[2021-09-19 09:42] bacloud14 opened #15 "Sending emails on behalf of site users"
This is a [question](https://stackoverflow.com/questions/67355720/sending-emails-on-behalf-of-site-users).
I'm still not sure if the way users send mails using admin email as a man in the middle has drawbacks or is it just fine.

I know it is very simplistic but I still think it can work just fine (using external email providers).

Hopefully Spam is avoided using a blacklist and a whitelist of ema

[2021-09-29 08:38] bacloud14 opened #16 "Include "social cards" in skills section"
I would like to include [social cards](https://github.com/bacloud14/so-cards) in skills section where a user can add his QR code as well.

Check so-c.me to learn about, it is a card with contact information.

[2021-09-29 09:59] bacloud14 opened #17 "Authentication"
In Classified-ads we opted for passwordless authentication for users to be able to
**Add, Deactivate or Delete listings. Also to initiate a mail thread with an announcer.**

Now I think it is fine to add a regular form of authentication (with email and password).

Please note that I want the passwordless authentication to always be an option! A user decides to subscribe or not.

_ps: I know authen

[2021-09-29 10:33] bacloud14 opened #18 "Visual regression testing"
We are using leaflet and a lot of other JavaScript libraries. Leaflet specifically is a very important component of Classified-ads.
Adding a CSS element like:

[code]
will ruing the whole map in the current page (because Leaflet tiles are just html divs).

This is why a simple image snapshot after build for pages with maps seem to be very useful.

#How
One useful guide [here](https://medium.com/no

[2021-09-30 13:49] shreyanshmalvya commented on #18
hey @bacloud14, I went through the issue and the reference docs, can I start working on this if it's not assigned to anyone?

[2021-09-30 14:08] bacloud14 commented on #18
Hello @shreyanshmalvya
If you feel like, sure.
Thanks 😊

[2021-10-01 18:16] Amishakumari544 commented on #6
Taking this :)

[2021-10-01 20:17] bacloud14 commented on #6
Hello @Amishakumari544
I'm happy you are contributing to this !
While going through installation please let me know if you have any problems !

[2021-10-02 10:38] bacloud14 opened #21 "Add popular tags, searches and featured states functionality"
Classified ads are easy to classify as users already went through tagging each listing and also specified it's state.

- It is easy to run a Mongo query to find out most popular tags and featured states (states with more listings).
- Searches are not cached in MongoDB, so caching is necessary to be able to find popular searches.

Technically, back-end queries are to be implemented as a CRON job; F

[2021-10-02 10:39] bacloud14 commented on #21
Check [indeed](https://www.indeed.com/) under "_What's trending on Indeed"_

[2021-10-02 10:44] bacloud14 opened #22 "Attach a lightweight blog to Classified-ads-48 only for Admins"
At some point, blogging about site usage, posting and search advice, events or anything else would require an internal blog.
Personally, I prefer a very lightweight NodeJS blog with MongoDB (same tech stack). Otherwise, if wiring the blog is easily feasible when the app bootstraps with no headaches, It's fine to add any common technology as Django or PHP.

[2021-10-02 10:48] PranjalAgni commented on #21
Interested to work on this, have some questions:

How are you planning to find the popular searches, maybe if we can introduce text similarity among search terms that will help us to know what is being searched?

Also, I think Redis is the way to go, as that will help to scale even better

[2021-10-02 10:48] bacloud14 opened #23 "A user is either a proposing or seeking a service"
I think in most sections, a user would like to **propose** an item (or a skill or whatever depending on a section); Or to **seek** an item.

## How
Adding a choice (radio box for instance) and a proper validation in back-end.

[2021-10-02 10:52] bacloud14 commented on #21
Hello @PranjalAgni
I'm glad you are contributing to this 😃

I didn't thought about text similarity, but I think it would be very useful indeed ! As people search very differently for similar things.

Also I agree on Redis, at some point a, in-memory DB would end up in the stack so why not now indeed.

Thanks again !

[2021-10-02 10:58] bacloud14 commented on #21
If you do, I have one thing to add for Redis.
On app start, I check if environment is fine as form of safety. You could add something similar for Redis.

Check:
https://github.com/bacloud14/Classified-ads-48/blob/f8faf34c9f33752c583f957a625a7fe2e2687162/bootstrap.js#L253

[2021-10-02 11:07] bacloud14 opened #24 "[Front end] Add a beautiful grid for sections in Index page"
Now two sections are put on Bootstrap Navbar, if we add other sections then Navbar would be bloated.

Check [Care.com](https://www.care.com/) for instance, a beautiful grid with icons is so clean and make navigation easier.

[2021-10-02 11:15] kartik-malik commented on #11
we can use for in loop to traverse every key in object but we will have to change the name of the variables

[2021-10-02 11:18] bacloud14 commented on #11
Hello @kartik-malik
I'm happy you are contributing to this !
Variables are referenced everywhere, I don't exactly see how you are changing variable names.

Anyway, if you feel sure please try your suggestion. Let me know if you need any help installing the app locally.

[2021-10-02 11:20] bacloud14 opened #25 "[Front end] Fix /tags page"
There is an incompatibility somewhere on that page (probably `Bootstrap.css` and `datatables.css`).

[2021-10-02 11:26] bacloud14 opened #26 "Add a new section "short-term gigs""
Because the spirit of Classified-ads is people's voice, one section seem very convenient here. Short-term gigs !!
Job opportunities listings are everywhere, so it is not about these; There is no void to fill in long contractual jobs.

Short term gigs 😸  Short term gigs 😄 Short term gigs

## How
You should really go through installation and comprehend how sections are implemented to add one.

[2021-10-02 11:29] bacloud14 commented on #26
It is different that **Skills section** because this  these listings can demand no skills, like simple tasks: Furniture assembly, moving and lifting heavy stuff and so on.

[2021-10-02 11:31] bacloud14 opened #27 "Logged users can rate listings"
This is about a complete rate functionality.

[2021-10-02 15:12] kartik-malik commented on #11
can u share .env files for local

[2021-10-02 16:17] bacloud14 commented on #11
I cannot. It's mostly keys. Try to have keys according to README.
If you can, go through code and try to bypass these temporarily.
Good luck.

[2021-10-02 16:25] kartik-malik commented on #25
bootstrap no imported on that page should i do it

[2021-10-02 17:04] Paawan9700 commented on #9
hey, can you assign this issue to me, i have much experience in UI and CSS and i will put my efforts to resolve it.

[2021-10-02 17:37] SrijanShovit commented on #17
@bacloud14 Can I work on this under Hacktober 2021?

[2021-10-02 18:20] jadhav-kunal commented on #4
I would like to take this up!

[2021-10-02 19:18] bacloud14 commented on #25
You are right, sure please do.

[2021-10-02 19:19] bacloud14 commented on #9
Hello @Paawan9700 ,
Let's give it a try then ! 😄

[2021-10-02 19:22] bacloud14 commented on #17
This is not an easy task ! Unless you already worked on authentication!
But I wish you best luck !

[2021-10-02 19:23] bacloud14 commented on #4
Sure !

[2021-10-02 19:26] jadhav-kunal commented on #4
Could you please elaborate the task?

[2021-10-02 19:26] angelina-tsuboi commented on #24
I would like to work on this!

[2021-10-02 20:02] bacloud14 opened #28 "[Front end] Fix /tags page"
There is an incompatibility somewhere on that page (probably `Bootstrap.css` and `datatables.css`).

[2021-10-02 20:02] #25 closed

[2021-10-02 20:25] Khushi-Shukla commented on #24
I am willing to work on this issue. Can you you provide more details about the requirement?

[2021-10-02 20:28] bacloud14 commented on #24
There are no further requirements.
Unless you installed the package locally and got it running, I will assign this to you.
Thanks !

[2021-10-02 23:37] kartik-malik commented on #28
https://github.com/bacloud14/Classified-ads-48/pull/29

[2021-10-03 03:24] jigarvyasidea commented on #28
Can I work on it?
plz assign to me

[2021-10-03 03:32] kartik-malik commented on #28
i have done and made a pr for this

[2021-10-03 04:35] SrijanShovit commented on #17
@bacloud14 so first thing which I would need to work is login authentication using email and password with password being optional?

[2021-10-03 04:40] SrijanShovit commented on #17
Alright! But I think I can give it a try!

[2021-10-03 05:03] SrijanShovit commented on #17
ok...then i'm leaving it.

[2021-10-03 06:23] Khushi-Shukla commented on #24
I have installed it locally and and also added .env files in root folder and in client folder. However, I am getting this error whenever I run npm start
![image](https://user-images.githubusercontent.com/55341533/135742603-49eb8722-843f-47b1-99a1-f2a735cc3965.png)
How can I proceed to solve this error?

[2021-10-03 07:55] #28 closed

[2021-10-03 08:05] bacloud14 commented on #24
Very nice, as README suggests:
Create MongoDB databases: `listings_db_dev` and `listings_db` with both collections `listing `and `words`

[2021-10-03 12:42] PranjalAgni commented on #21
Hi @bacloud14, I have done all the setup but need some help with Google Cloud Storage access keys. I don't have a credit card that is required in my country to enable Google Cloud payment.

Let me know, I can reach out to you on some other platform.

[2021-10-03 14:00] bacloud14 commented on #21
Hi @PranjalAgni Thank you for the follow up.
For the application to bootstrap (at least), you don't need a key. It is when a user posts a listing (upload a file) then it is needed.

Try adding `/creds/dz-listings-219ed1313c57.json` empty file.

I have only a physical access to one key that I cannot access physically these days. If necessary, I send you that next Thursday or Friday.

[2021-10-03 14:02] bacloud14 commented on #21
With
[code]

[2021-10-03 14:06] Khushi-Shukla commented on #24
Got it. However, MongoDB allows only one free database per user, so how will it work, should I make database from two different ids, or is it necessaary to have them under one profile only?

[2021-10-03 14:14] bacloud14 commented on #24
You can install locally and have all for free. Anyway you seem to have chosen the cloud.
Set proper connection URL then in env.
You can set env as **local or development** and only create **listing_db_dev**

[2021-10-03 14:15] bacloud14 commented on #24
Don't hesitate to let me know if anything goes wrong.

[2021-10-03 14:16] Anshu9623019 commented on #14
I am willing to work on this issue. Can you please assign to me?

[2021-10-03 14:18] bacloud14 commented on #14
How would you do that?
 This is also a question...

[2021-10-03 14:52] Khushi-Shukla commented on #24
I have created a database and added the url in env. I want to know what values to write in the other fields of both the env files
![image](https://user-images.githubusercontent.com/55341533/135759295-bd475830-3579-446b-8c38-cc15fa8d599c.png)
![image](https://user-images.githubusercontent.com/55341533/135759307-85339d01-816b-4239-b78f-f3dcd607d89c.png)
![image](https://user-images.githubusercontent

[2021-10-03 15:10] bacloud14 commented on #24
All keys are very clearly defined in README. Most are not necessary for the app to bootstrap even more not necessary for front-end to show up correctly.

[2021-10-03 15:11] bacloud14 commented on #24
Your Mongo URL must be unquoted by the way

[2021-10-03 15:13] Khushi-Shukla commented on #24
Okay. Will keep you updated.

[2021-10-03 15:13] bacloud14 commented on #24
try adding /creds/dz-listings-219ed1313c57.json empty file too.
With
[code]
Too

[2021-10-03 15:14] Khushi-Shukla commented on #24
Okay. Thank you for the correction

[2021-10-04 07:37] Amishakumari544 commented on #6
Hey @bacloud14  can you add the section where I have to add the form layout?

[2021-10-04 08:21] bacloud14 commented on #6
Please do not claim issues you are not sure about the next time. Unassigning you.

[2021-10-04 08:21] #6 closed

[2021-10-04 08:22] bacloud14 opened #30 "Correct and beautify layouts and forms (Responsive Bootstrap)"
I switched from `Chota.css` to `Bootstrap 5`.
I don't know much about Bootstrap, I hope every page would fit all screen sizes beautifully.
Also, forms are not well aligned.

**How**
At least, [Bootstrap 5 Form Builder](https://startbootstrap.com/sb-form-builder) would ease the process for input forms.

[2021-10-04 08:22] bacloud14 commented on #30
Unless you went through installation, you can claim this 😄

[2021-10-04 09:23] Amishakumari544 commented on #6
Wow thanks for showing your this face thank god I haven't solved this issue thanks

[2021-10-04 11:00] bacloud14 commented on #6
It's fine. I just assumed you know what is it about. Good luck.

[2021-10-04 15:35] bacloud14 opened #31 "[CSS] Better design"
- Revise page layout
- Responsive
- Revise colors
- and so on 😮

Unless you went through installation you can claim this 😁

[2021-10-04 16:15] Hariomsingh333 commented on #31
hey can i join this

[2021-10-04 16:34] bacloud14 commented on #31
Please unless you go through installation successfully. I assign this for you.

[2021-10-04 19:21] Khushi-Shukla commented on #24
I keep getting this error on npm start
![image](https://user-images.githubusercontent.com/55341533/135910313-4453a39f-201d-4aa2-a034-baf549a3bd8b.png)
but the URL is already hardcoded in the app.js for local environment
![image](https://user-images.githubusercontent.com/55341533/135910621-6933379d-88f9-456f-bdcf-9a71835f35c2.png)

Another erro that is shown is this, even though the databse is conn

[2021-10-05 03:10] merikettapearl212 commented on #31
is this still available?

[2021-10-05 06:57] PranjalAgni commented on #21
Hi @bacloud14 Can you please push the .prettierrc for the project, it's currently using my system's global prettier settings and always formatting in a different manner.

[2021-10-05 06:59] bacloud14 commented on #31
Yes, it's available if you want to 🤞

[2021-10-05 07:07] PranjalAgni commented on #21
Also, I am currently planning to introduce some text similarity algorithms these are the few I have used in the past [Levenshtein Distance](https://en.wikipedia.org/wiki/Levenshtein_distance), [Jaro Winkler Distance](https://en.wikipedia.org/wiki/Jaro%E2%80%93Winkler_distance). We can also research for others and can go with the best suited for our use case.

One thing I would like to call out is

[2021-10-05 07:16] bacloud14 commented on #21
hello @PranjalAgni ,
Thank you for the follow up, it seems going well I'm happy you are going through this.

**prettier** at least in this laptop that I don't use generally for programming, is not configured and probably working with default values (if there are any ?).  But such file `.prettierc` isn't in `.gitignore` so probably is just lacking also in my project; I really didn't pay attention,

[2021-10-05 07:18] bacloud14 commented on #21
About string similarity, we are heading to a new functionality and this is already exciting. Setting the patterns and minimal required for this to work is great already.
I know a bit about NLP and ML and so, I got your idea. So yes, no problems, let it be simple algorithmic similarity for now 💯

[2021-10-05 13:10] adi611 commented on #30
Please assign me this issue. Thanks.

[2021-10-05 13:16] bacloud14 commented on #30
Did you install it locally?

[2021-10-05 14:02] mitalsapkale01 commented on #9
@bacloud14
Can more than one person works on this issue?, I'm interested for this.

[2021-10-05 14:07] bacloud14 commented on #9
I prefer not to, I dealt especially with the case of style that involves CSS files particularly and it's always "a step on others toes" situation.
Let's wait for @Paawan9700 for now.
@Paawan9700 is it going well? 😁

[2021-10-05 16:32] adi611 commented on #30
I'm confused. Do I need to create all the files as required in the [tree file](https://github.com/bacloud14/Classified-ads-48/blob/hacktoberfest_only_branch/tree.txt)? Since the /client/dist/ is empty in my project.

[2021-10-07 13:12] bacloud14 commented on #4
Sure @siddharth1009maker I'm happy you are contributing to this! Good luck 🤞

[2021-10-08 18:31] bacloud14 commented on #31
Hi @merikettapearl212 ,
Still working on this? 👍

[2021-10-08 18:59] bacloud14 commented on #21
I sent you a mail./

[2021-10-08 19:38] bacloud14 commented on #31
Not at all, no deadlines no schedule, everybody on his paste ! good luck !

[2021-10-09 03:29] siddharth1009maker commented on #4
@bacloud14  I have forked and clone the project on my local repo .

[2021-10-09 14:23] bacloud14 commented on #18
Hello @shreyanshmalvya
Any follow up for this issue?
Good luck 🍀

[2021-10-09 14:23] bacloud14 commented on #11
Any follow up? @kartik-malik
Good luck 🍀

[2021-10-09 14:27] kartik-malik commented on #11
Sorry not getting any idea how to do this

On Sat, 9 Oct 2021, 19:53 ba, ***@***.***> wrote:

[2021-10-09 15:37] bacloud14 commented on #24
Excuse my late reply.
Let me please send you some environment keys by email.
Good luck 👍

[2021-10-10 04:26] Khushi-Shukla commented on #24
Ok sure.

[2021-10-12 20:06] #30 closed

[2021-10-14 07:33] mandeep168 commented on #27
Can I work on this?

[2021-10-14 13:51] bacloud14 commented on #21
Hello @PranjalAgni
Any follow up for this issue?
Good luck 🍀

[2021-10-14 17:35] bacloud14 commented on #21
So cool, take your time !

[2021-10-14 17:59] bacloud14 opened #37 "Implement authentication"
In Classified-ads we opted for passwordless authentication for users to be able to
**Add, Deactivate or Delete listings. Also to initiate a mail thread with an announcer.**

Now I think it is fine to add a regular form of authentication (with email and password).

Please note that I want the passwordless authentication to always be an option! A user decides to subscribe or not.

_ps: I know authen

[2021-10-15 09:55] shreyanshmalvya commented on #18
hey @bacloud14
Sorry for the delay, had exams this week.  A doubt after testing do I need to commit whole cy section?

[2021-10-16 06:31] bacloud14 opened #38 "Attach a lightweight blog to Classified-ads-48 only for Admins"
At some point, blogging about site usage, posting and search advice, events or anything else would require an internal blog.
Personally, I prefer a very lightweight NodeJS blog with MongoDB (same tech stack). Otherwise, if wiring the blog is easily feasible when the app bootstraps with no headaches, It's fine to add any common technology as Django or PHP.

## How
Probably [Hexo ](https://hexo.io/)

[2021-10-16 06:31] #22 closed

[2021-10-16 06:31] #7 closed

[2021-10-16 06:32] bacloud14 opened #39 "Ensure CSP is effective against XSS attacks"
Turn
https://github.com/bacloud14/Classified-ads-48/blob/bf97c128b873b3170beffe655d1ba7704d421c26/app.js#L114

Into:
`app.use(helmet({}));`

### How
[ensure each XSS is targeted in front end ](https://web.dev/csp-xss/)

[2021-10-16 06:35] #2 closed

[2021-10-16 06:35] bacloud14 opened #40 "Leaflet circle (same as markers) is not draggable on phone screens"
On desktop screens, I can drag and move a marker around.
On phone (chrome) it doesn't seem to work.
The marker that is meant to be moveable is in [geo-search-map]

https://github.com/bacloud14/Classified-ads-48/blob/bf97c128b873b3170beffe655d1ba7704d421c26/client/src/shared/maps/create-maps/create-geo-search-map.js#L21

### How

### Possible solutions

[2021-10-16 06:51] #14 closed

[2021-10-16 06:51] bacloud14 opened #41 "[SEO] Remove leaflet tiles from google search O_o"
What's up with leaflet tiles figuring on Google image search ?! Leaflet tiles are loaded from an external server. So I believe Google crawler not only visits a link, but tries to render its content 🦀 😮

These would pollute relevant data from figuring on the search engine.

Check the [image](https://ibb.co/QPSsSsV)

[2021-10-16 18:13] Khushi-Shukla commented on #24
My apologies, your email went to my spam folder so I didn't get notified when you sent the environment keys. I will look into it and will keep you updated.

[2021-10-17 08:58] shreyanshmalvya commented on #18
hey @bacloud14 , I tried running cypress on my system, but it keeps on throwing errors. I googled errors and made the changes required but it's still not running
![image](https://user-images.githubusercontent.com/80682098/137619793-2028eb87-8601-4a11-9e62-3083489349f5.png)
Take a look at the error, and do correct me if I did anything wrong.

[2021-10-17 09:17] bacloud14 commented on #18
are you sure Classified-ads is up ?

[2021-10-17 11:47] bacloud14 commented on #37
any follow up ?

[2021-10-17 11:47] #37 closed

[2021-10-17 11:47] bacloud14 opened #42 "Implement authentication"
In Classified-ads we opted for passwordless authentication for users to be able to
**Add, Deactivate or Delete listings. Also to initiate a mail thread with an announcer.**

Now I think it is fine to add a regular form of authentication (with email and password).

Please note that I want the passwordless authentication to always be an option! A user decides to subscribe or not.

_ps: I know authen

[2021-10-19 17:30] bacloud14 commented on #18
what are the additional log files mentioned in the error saying ?

[2021-10-20 07:27] bacloud14 commented on #18
ah ok. I cann't figure out. But please feel free to unassign yourself or contrinue to go through this 👍

[2021-10-20 12:27] PranjalAgni commented on #21
For top search, we can use this route `listings/autocomplete/:search` which will increment the `timeSearched` for the current search term, now we can create a new route `trending/searches` which will return us the top search terms from MongoDB.

What we can do instead of using CRON is, we can set the results in redis which will automatically get expire in x minutes that will make sure that queries

[2021-10-20 12:28] PranjalAgni commented on #21
With the same flow we can go for popular tags and featured states

[2021-10-20 12:41] bacloud14 commented on #21
I suggest the other "regular" search endpoint

https://github.com/bacloud14/Classified-ads-48/blob/7e4fb8fc12c7179eaf31cab6c1f6a25cbae6b00a/lib/routes/listings.js#L98

 and not `listings/autocomplete/:search`. Just because the autocomplete functionality has already a very limited data-sets of pre-calculated keywords fired at startup (although to be revised for regular updates)

https://github.com/

[2021-10-20 13:23] bacloud14 commented on #21
Search section [here](https://dzlistings.herokuapp.com/listings/donations) or [here](https://dzlistings.herokuapp.com/listings)

[2021-10-27 17:21] bacloud14 opened #44 "Visual regression testing"
We are using leaflet and a lot of other JavaScript libraries. Leaflet specifically is a very important component of Classified-ads.
Adding a CSS element like:

[code]
will ruin the whole map in the current page (because Leaflet tiles are just html nodes).

This is why a simple image snapshot after build for pages with maps seem to be very useful.

## How
One useful guide [here](https://medium.com/

[2021-10-27 17:21] bacloud14 opened #45 "Implement authentication"
In Classified-ads we opted for passwordless authentication for users to be able to
**Add, Deactivate or Delete listings. Also to initiate a mail thread with an announcer.**

Now I think it is fine to add a regular form of authentication (with email and password).

Please note that I want the passwordless authentication to always be an option! A user decides to subscribe or not.

_ps: I know authen

[2021-10-27 17:26] bacloud14 opened #47 "Leaflet circle (same as markers) is not draggable on phone screens"
On desktop screens, I can drag and move a marker around.
On phone (chrome) it doesn't seem to work.
The marker that is meant to be moveable is in [geo-search-map]

https://github.com/bacloud14/Classified-ads-48/blob/bf97c128b873b3170beffe655d1ba7704d421c26/client/src/shared/maps/create-maps/create-geo-search-map.js#L21

### How

### Possible solutions

[2021-10-27 18:15] bacloud14 opened #48 "Include "social cards" in skills section form"
I would like to include [social cards](https://github.com/bacloud14/so-cards) in skills section where a user can add his QR code as well.

Check https://so-c.me to learn about, it is a card with contact information.

## How
We can use child window and parent window. [This is a very nice example ](https://www.plus2net.com/javascript_tutorial/window-child3.php)on how to pass values between child and

[2021-10-29 18:15] bacloud14 commented on #47
solved

[2021-10-29 18:15] #47 closed

[2021-10-29 18:28] PranjalAgni commented on #21
Sorry, got a lot involved with work this week was not able to invest time in it. Planning for next week will let you know.

[2021-10-29 19:46] bacloud14 commented on #48
done

[2021-10-29 19:46] #48 closed

[2021-10-29 21:18] bacloud14 commented on #21
Sure @PranjalAgni just wanted to know. Take your time!
Thank you

[2021-10-30 06:32] bacloud14 commented on #38
resolved in https://github.com/bacloud14/Classified-ads-48/commit/65ec3c78caaabd4f2fb374d45f4e79d317d487b5

[2021-10-30 06:32] #38 closed

[2021-10-30 08:03] bacloud14 commented on #45
wip oauth.

[2021-10-30 08:03] #45 closed

[2021-10-30 08:35] bacloud14 opened #49 "Code review"
The growing code is become a bit bloated.

[2021-10-30 19:27] #41 closed

[2021-10-31 06:52] bacloud14 commented on #21
Hello @PranjalAgni
Please check
https://github.com/bacloud14/Classified-ads-48/discussions/50
Trying to fix bugs quickly
Thanks

[2021-10-31 09:33] bacloud14 opened #51 "passport/auth0 bug"
This could be passport/auth0 or just the parsing of params.
`req.user` and `req.isAuthenticated` are supposed to hold value, as they would be used everywhere in the app.

Serialization function catches the correct values though, also the FileStore  ! so this is why I'm more suspecting Express params middleware, like express session, url parsing and so on...

https://github.com/bacloud14/Classified

[2021-10-31 21:36] #51 closed

[2021-11-02 07:05] bacloud14 opened #52 "Correct and beautify layouts and forms (Responsive Bootstrap)"
I switched from `Chota.css` to `Bootstrap 5`.
I don't know much about Bootstrap, I hope every page would fit all screen sizes beautifully.
Also, forms are not well aligned.

**How**
At least, [Bootstrap 5 Form Builder](https://startbootstrap.com/sb-form-builder) would ease the process for input forms.

[2021-11-02 07:45] Koda-Pig commented on #52
Hi @bacloud14, can you assign me this issue?

[2021-11-02 07:53] bacloud14 commented on #52
Hello @Koda-Pig 😁
Sure. I'm happy you are contributing to this.
Good luck 😃

[2021-11-02 07:54] bacloud14 commented on #52
Please let me know if you have any difficulties in installation.

[2021-11-03 18:42] PranjalAgni commented on #21
Hi @bacloud14, sorry was not able to focus a lot on it due to work, I will be on vacation next week will try to work on this.

[2021-11-03 18:44] PranjalAgni commented on #21
This looks good to me, auth0 is good

[2021-11-03 18:55] bacloud14 commented on #21
Cool. Thank you @PranjalAgni

[2021-11-04 13:45] Koda-Pig commented on #52
Thanks @bacloud14. I'm having trouble with the installation -  specifically getting errors on the root .env file:
`Failed to load ./.env.
Environment variables:`

Do I need to sign up for Google Cloud Storage to run this repo locally? I've left the Google Cloud details blank, as I wasn't sure.

This is what my .env file looks like currently:
`NODE_ENV={local/development/production}
HONEYPOT_KEY={b

[2021-11-04 13:50] bacloud14 commented on #52
let me send you some variables later on today. by mail.

[2021-11-04 13:57] Koda-Pig commented on #52
Thank you

[2021-11-05 14:16] bacloud14 commented on #52
Unassigning @Koda-Pig for practical reasons for now. Thanks Koda.

[2021-11-05 14:20] bacloud14 opened #54 "From JavaScript to typescript"
https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html

[2021-11-06 16:38] bacloud14 opened #55 "Correct and beautify layouts and forms (Responsive Bootstrap)"
I switched from `Chota.css` to `Bootstrap 5`.
I don't know much about Bootstrap, I hope every page would fit all screen sizes beautifully.
Also, forms are not well aligned.

**How**
At least, [Bootstrap 5 Form Builder](https://startbootstrap.com/sb-form-builder) would ease the process for input forms.

[2021-11-07 15:12] bacloud14 opened #57 "Inbox API"
https://github.com/bacloud14/Classified-ads-48/discussions/50#discussioncomment-1602026

[2021-11-07 15:12] bacloud14 opened #58 "Inbox UI"
https://github.com/bacloud14/Classified-ads-48/discussions/50#discussioncomment-1602026

[2021-11-09 17:29] bacloud14 opened #59 "Check NodeJS environment constraints"
### Constraints

<html><body>
<div dir="ltr" style="margin-left:0pt;" align="left" id="docs-internal-guid-3937f11f-7fff-514c-7fe7-b725668cd3af">

Env\Middlwares | Multer (upload) | Auth0 | Honeypot, slow, ratelimit | Seed MailHog data | Seed Listings data
-- | -- | -- | -- | -- | --
Monkey chaos | no | no | no | no | yes
Local | yes | yes | no | yes | yes
Dev (deployed online) | yes | yes | yes |

[2021-11-09 20:55] bacloud14 commented on #59
wip example of how it goes: https://github.com/bacloud14/Classified-ads-48/commit/ca96a1a43a814e46eeb965703914652793b4fc39

[2021-11-12 16:24] jayeclark commented on #55
Hi @bacloud14 I believe I can help with this. The repo is currently defaulting to the hacktoberfest branch and I just want to double check - should I open a PR against main? Or against hacktoberfest?

[2021-11-12 16:25] bacloud14 commented on #55
Hello @jayeclark
I'm happy you are contributing to this. It's better to start from that branch.  Thanks a lot 😀

[2021-11-12 16:26] jayeclark commented on #55
@bacloud14 OK thanks!

[2021-11-12 18:03] bacloud14 commented on #55
Installation might be constraining. If you don't want to go through getting keys from cloud services, please let me know I will send you my keys by email.

[2021-11-12 18:06] jimmywarting commented on #54
why? you can have as good type safety with plain js and without wastful compilation

beside, typescript + esm is so bad right now...

[2021-11-12 18:08] jayeclark commented on #55
@bacloud14 I've actually gotten all the keys already, so, no issue there. But I'm running into an error message when I run `npm start` that seems like it _might_ be related to a recent commit (affecting nodemailer and the pipes.js file) - I'm trying a clean install from scratch (there's definitely also a chance I've messed something up in my .env file) and will reach out if the error persists.

[2021-11-12 18:13] bacloud14 commented on #54
I'm really a caveman when it comes to modern JavaScript and already went through a lot of progress in terms of modularity and clean code.

I thought it is an added value but I agree that safety could be achieved anyway so yes, probably not going through this especially if it adds dependencies and constraints.

Thanks Jimmy.

[2021-11-12 18:15] bacloud14 commented on #54
Otherwise, I'm trying to make a cleaner code for follow contributors. So much going on also for safety,
Check these:
https://github.com/bacloud14/Classified-ads-48/issues/59
https://github.com/bacloud14/Classified-ads-48/issues/49

I'm pointing some obvious starting tasks as `TODO`s.

Thanks @jimmywarting

[2021-11-12 18:18] bacloud14 commented on #55
One issue that comes to my head is running:

- [MailHog](https://github.com/mailhog/MailHog/releases)
- MongoDB with proper database and tables (I explained most things in README and [here](https://github.com/bacloud14/Classified-ads-48/discussions/50)).

[2021-11-12 18:28] jayeclark commented on #55
OK, making some progress. There were two errors, and one of them was that I didn't have MailHog installed.

The remaining error seems to be an issue with database seeding, so I think you may be right - I've probably messed something up with my mongoDB database setup.

[2021-11-12 18:46] bacloud14 commented on #55
Please set .env NODE_ENV to `local` and client\.env NODE_ENV to `development`

As for database:
Create MongoDB databases: `listings_db_dev` and `listings_db` with both collections `listing` and `words`

As for running an instance:
cd to client then `npm install`
Go back to root folder to `npm install` then `npm run prestart`.

Finally run `npm run dev`

Please let me know if you need any help/ (wh

[2021-11-12 18:47] jimmywarting commented on #49
Oboj, your codespace have really gotten a bit out of hand.

I could offer to help, but it's going to be a bit annoying to having to send a bunch of PR and waiting for it to be accepted/merged before i can continue onwards to the next thing.

[2021-11-12 18:54] jayeclark commented on #55
I've tried running with .env NODE_ENV set to local a few times, but get this error:
<img width="598" alt="Screen Shot 2021-11-12 at 2 50 16 PM" src="https://user-images.githubusercontent.com/84106309/141519592-ca9490bf-6354-48f9-b7b0-7294bb8a0774.png">

When I try to run with .env NODE_ENV set to development, I get the following error on running `npm start`:
<img width="597" alt="Screen Shot 2021-

[2021-11-12 18:56] bacloud14 commented on #49
I'm thankful you are offering me help. I tried to add you as a collaborator although I don't know what the access permission (I hope all is possible).

I can do test, or send you my keys for you to avoid cloud services keys.

If that's already a headache,  you can push and let me test everything. It is fine to break.

[2021-11-12 18:57] jimmywarting commented on #49
wanna have a direct chat channel?
saw that you had a gmail acc and tried to message you on hangout/google chat

[2021-11-12 19:08] bacloud14 commented on #55
There are two .env files.
https://ibb.co/7zsH8W6
and
https://ibb.co/q51qkPy

[2021-11-12 19:11] jayeclark commented on #55
@bacloud14 Yes, I'm aware of that. I've tried setting both to local and also following your suggestion to set .env to local and client/.env to development.

[2021-11-12 19:14] bacloud14 commented on #55
Ok
Database is like:
https://ibb.co/rdNDMtf

Thanks for the follow up.

[2021-11-12 19:22] jayeclark commented on #55
@bacloud14 Seems to be various issues with bootstrap.js . For example, in lines 269-271, there is a condition to resolve the promise if NODE_ENV == 'local' , but it has been commented out, which is why I've been getting that first error.

I think if I tinker enough I can probably solve the issue, since at least now I've found where in the code it is arising from. If I can fix it, it should make th

[2021-11-12 19:26] bacloud14 commented on #55
Very nice spot , you could trying to resolve when `env` is `local` as soon as possible, so un-comment that for now. In this case, it is not verifying environment properly. So things like adding a listing (post request) could break.

Since you are working on Frontend, I hope it would render 100%

Thanks @jayeclark

[2021-11-12 19:41] jayeclark commented on #55
It worked! (I also had to change the logic on line 242 of bootstrap.js.)

<img width="776" alt="Screen Shot 2021-11-12 at 3 29 34 PM" src="https://user-images.githubusercontent.com/84106309/141524086-e2a9294d-808e-43bd-87e4-ad981ee5eb1c.png">

I'll work on fixing the bootstrap styling issues, but after I submit that PR I can definitely take a crack at fixing the underlying issue so that it is easi

[2021-11-12 20:53] bacloud14 commented on #55
instructions, no not at all 😄

I'm not sure 100% of anything in that file and approach, just tried to check environment and log everything, thing that most projects don't do on Bootstrap. To help new-comers.

Good luck and I'm excited for the styling issues.

Thanks @jayeclark

[2021-11-12 21:29] bacloud14 commented on #55
Hello @jayeclark
Excuse me a little disturbance 😸  could you please pull last modifications. We are working on server side, but one things would make merge a hell. we changed JavaScript style to standardjs.
things like indentation and commas and so would change and fixing merges would be hard.

If you can't go back at this point, it's fine.

[2021-11-12 22:52] #54 closed

[2021-11-13 00:55] jayeclark commented on #55
Sure, no problem, thanks for the heads up. Most of the bootstrap work is just adding/changing classes - should be easy to pull in any recent commits changing the js formatting to my fork (and my VSCode linter will be much happier with it too.)

[2021-11-14 09:39] bacloud14 opened #66 "auth0 admin dashboard"
Authentication is set by auth0, easy.

This issue is about setting an Admin dashboard, where he/she can approve / delete listings before post. Also review users messages and can ban users (using auth0 roles).

[2021-11-14 19:55] #55 closed

[2021-11-14 20:00] bacloud14 commented on #55
Absolutely fantastic work.

Much more beautiful, also other fixes like colors, borders..., A new layout for inputs in add a listings page and so on, were not thought off, but a great addition.
Thanks

[2021-11-15 23:44] bacloud14 opened #68 "Make one to one chat or inbox feature"
Real time or not (it doesn't mean much anyway. What's the difference if not just the feeling).

Based on email of logged users (auth0), implement a one to one messaging system where a logged in user landing on one post (listing) would initiate a conversation with the author of the post.

This is the only scenario, users cannot exchange messages or see each others.

Either with sockets or long poll

[2021-11-15 23:57] bacloud14 commented on #68
I'm still not sure about authenticating socket connections.
It seems we have this https://github.com/Root-Core/socketio-jwt

[2021-11-18 08:10] bacloud14 commented on #21
Hello @PranjalAgni ,
Your idea of string similarity is great,
Still willing to work on this ? if not motivated or busy, I can work on this.
You are always welcome to collab 💯

[2021-11-19 14:30] #68 closed

[2021-11-19 14:30] #49 closed

[2021-11-20 11:56] #57 closed

[2021-11-20 11:56] #58 closed

[2021-11-20 12:06] bacloud14 opened #69 "Add popular tags, ~~searches~~ and featured states functionality"
Classified ads are easy to classify as users already went through tagging each listing and also specified it's geolgraphical state.

It is easy to run a Mongo query to find out most popular **tags** and featured **states** (states with more listings).
~~**Searches** are not cached in MongoDB, so caching is necessary to be able to find popular searches. I added Redis database to the stack for this.

[2021-11-20 12:36] #21 closed

[2021-11-20 18:32] bacloud14 opened #70 "Map Reduce for Tf-Idf ranking on MongoDB text and tags"
on listings collection.

[2021-11-21 15:18] #15 closed

[2021-11-22 09:36] bacloud14 opened #71 "[Node.JS / JavaScript] Help wanted"
There are so many TODOs in code. So any help would be useful. Please do not hesitate to ask for clarifications.

[2021-11-24 21:55] horberlan commented on #71
do you need help in front end?

[2021-11-25 07:34] bacloud14 commented on #71
Hello @horberlan ,
Yes please. There are many things that you could spot from first look (as a front end developer?). Also
- There is a bug in dark mode.
- Leaflet is so fragile as it is composed of SVG Dom elements, so SVG {} in CSS would break maps.
 - Users can post HTML edited text, I didn't test its rendering when exposed back in browser (although I did server validation).
These are things th

[2021-11-25 07:39] bacloud14 commented on #71
I will try to redeploy the latest version so anyone working on front-end could tweak without installing.

[2021-11-25 21:46] bacloud14 commented on #71
Hi @horberlan are you willing to work on front end?

[2021-11-25 21:50] horberlan commented on #71
@bacloud14 Yes! I will start right now

[2021-11-25 21:59] bacloud14 commented on #71
I'm happy you are contributing to this. You need keys? Let me know if you could install it locally.

[2021-11-25 22:17] horberlan commented on #71
i use ```sudo npm install -g cypress --unsafe-perm --silent``` but i got this as an error when running npm i

[code]

[2021-11-25 22:20] bacloud14 commented on #71
This has to do with permission in your OS. I can't tell. But you don't need to install Cypress globally I guess.

Cypress is already set as a dependency, so you could run it with something like:

`./node_modules/.bin/cypress run`

[2021-11-25 22:55] horberlan commented on #71
[code]

[2021-11-25 23:00] bacloud14 commented on #71
I really don't know how you are running this and where you are starting from, could we chat through hangout ?

bacloud((((((14))))[at]gmail.com

[2021-11-28 08:34] bacloud14 opened #72 "Express middlewares"
[sexpress](https://github.com/bacloud14/Classified-ads-48/blob/hacktoberfest_only_branch/sexpress.js) 😆 comes with a plethora of middle-wares 🚀 , I'm not sure if everything is set correctly.
Application middle-wares are third party dependencies and could be in a bad order. You know how third parties could mismatch.
https://github.com/bacloud14/Classified-ads-48/blob/1e70b85a75a29fbbfd8b6f9b8ea561f

[2021-11-29 16:49] #72 closed

[2021-12-01 07:43] bacloud14 opened #73 "Testing REST API with the Postman App"
There are some constraints please check

https://github.com/bacloud14/Classified-ads-48/blob/1e70b85a75a29fbbfd8b6f9b8ea561ffa747a109/lib/services/constraints.js#L4

So behavior of one POST or GET request might change depending on environment.

Testing routes would be only for `chaos-monkey` environment, where I send JSON instead of HTML:

https://github.com/bacloud14/Classified-ads-48/blob/1e70b8

[2021-12-03 22:40] bacloud14 opened #74 "[CSS] Better design"
- Revise page layout
- Responsive
- Revise colors
- and so on 😮

Unless you went through installation you can claim this 😁

[2021-12-10 17:42] bacloud14 opened #75 "Code review"
"Naming conventions, clean and minimal code".

[2021-12-12 21:39] bacloud14 opened #76 "Remove and add listings to favourites (Local storage)"
Only on client side, user could add listings to a favourite list. Or remove a listing from the view.

I guess local storage is the way. All listings have Id already so listings are unique.

Like this CL -- same exact thing ;(

![Screenshot_20211212-223630_Samsung Internet](https://user-images.githubusercontent.com/10267332/145730570-f7b72141-b98a-4998-a145-e56b007f541e.jpg)

[2021-12-14 19:24] bacloud14 commented on #69
search partially resolved https://github.com/bacloud14/Classified-ads-48/commit/48fb41ff4c6d169e54ee665a3e9e8b63f6cc1c0d

[2021-12-21 08:15] bacloud14 commented on #69
TODO:

- Cache: https://github.com/bacloud14/topK_example/blob/956cc8b098cf6fffc0839728d116cc21f6d1cd62/dbStuff.js
- Expose the route

[2021-12-21 08:15] #69 closed

[2021-12-23 07:24] bacloud14 opened #77 "Build different Bootstrap 5 themes color sets for different sections"
### How
https://hackerthemes.com/kit/

Section variable is normally present in all listings pages, like viewing a listing:
https://github.com/bacloud14/Classified-ads-48/blob/876b08e2416481599a2f73a8ff8604322502dc37/views/partials/prepare_js_variables.ejs#L25

So we should act on that.

Let's make three colour sets for three sections: **skills, donations and blogs**

[2021-12-29 10:05] bacloud14 opened #79 "Sections landing page"
Now I'm implementing links to different sections in headbar.
With potential new sections added, it is good to have a landing page with big (medium) size icons.
It might fit somehow in index page if possible with a beautiful UI. So two options.

[2021-12-29 10:09] bacloud14 opened #80 "Integrate a selfhosted analytics solution"
There are many solutions that are standalone.

Similar to Google analytics to have an insight on users and visits.

The perfect solution would integrate in Classified-ads-48 as an Express middleware for instance and with Mongodb as backend.

I'm afraid there is no such solution?

If not, it is fine to add another solution to the stack.

Hopefully with Mongodb as backend and not an additional datab

[2022-01-01 08:24] bacloud14 opened #81 "Faceted search back and front"
There are some search functionalities already implemented.

- Client side highlighting using Holmes.
- Search based on predefined popular keywords (top right input).
- Advanced search based on title, description..
- Geolocation search..

### Why
This would help performance and more importantly evolving the web-app with new fields to Listings, would be natural. We won't need to change queries or ju